.options-container {
  max-width: 560px;
  margin: auto;

  svg .lines {
    border: 1px solid $gray;
  }

  .selected-playlist, .options-box {
    float: left;
    text-align: center;
    width: 200px;
    font-size: 1.2em;

    @media (max-width: $break-large) {
      width: 100%;
      float: none;
      margin: auto;
    }

    p {
      font-size: 0.8em;
    }

    img {
      width: 150px;
      height: 150px;
    }

    .dud-image {
      width: 150px;
      height: 90px;
      background-color: #555;
      background-image: $gradient-subtle;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding-top:  60px;
      margin: auto;
    }
  }

  .selected-playlist {
    width: 180px;
  }

  .options-box {
    position: relative;

    > div {
      clear: both;
      float: none;
    }

    .option-item {
      display: inline-block;
      margin: 10px;
      width: 80px;
      cursor: pointer;
      cursor: hand;

      &.active {
        img {
          filter: grayscale(0%) opacity(1);
        }
      }

      img {
        width: 80px;
        height: 60px;
        filter: grayscale(100%) opacity(0.7);
      }
    }
    .button {
      clear: both;
      display: block;
      max-width: 150px;
      margin: 10px auto;
    }
  }
}
