.playlist-list {
  text-align: center;

  p {
   text-align: left;
  }

  ul {
    padding: 0px;

    li {
      list-style: none;
      display: inline-block;
    }
  }

  .playlist-card {
    width: 130px;
    height: 160px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 1.2em;
    transition: all 0.3s ease;

    p {
      text-align: center;
      font-size: 0.8em;
    }

    .playlist-image {
      transition: all 0.3s ease;
      position: relative;
      width: 100px;
      height: 100px;
      overflow: hidden;
      margin-left: 15px;

      img {
        width: 100px;
        height: 100px;
        transition: all 0.3s ease
      }

      a {
        position: absolute;
        padding-top: 40px;
        width: 50px;
        height: 60px;
        left: 0px;
        background-color: rgba(0,0,0,0);
        color: rgba(0,0,0,0);
        font-weight: normal;
        cursor: pointer;
        cursor: hand;
        transition: background-color 0.3s ease;

        &.selected {
          background-color: rgba(0,0,0,1);
          color: rgba(255,255,255,1);
        }

        &.b {
          left: 50%;
          margin-left: 0px;
        }
      }
    }
  }

  .playlist-card:hover {
    .playlist-image {
      img {
        filter: blur(4px);
        overflow: hidden;
      }

      a {
       background-color: rgba(0,0,0,0.4);
       color: rgba(255,255,255,1);
      }

      a:hover {
        background-color: rgba(0,0,0,0.8);
        color: rgba(255,255,255,1);
        font-size: 1.2em;
        padding-top: 38px;
        height: 62px;
      }
    }
  }

  .playlist-list-footer {
    clear: both;
    width: 100%;
  }
}
