.result {
  .secondary {
    color: $gray;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    tr {
      border-bottom: 1px solid $light-gray;
    }

    th {
      font-weight: 200;
      font-size: 1.4em;
    }

    td, th {
      text-align: left;
      padding: 7px 13px;
    }
  }

  @media(max-width: $break-small) {
    th {
      display: none;
    }
    td {
      display: block;
      width: 100%;
    }
  }
}
