html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

input[type=text].form-control {
  border: 1px solid #555;
  margin: 0px 7px;
  padding: 7px;
}

#root, #root > div {
  height: 100%;
}

.background {
  background-image: $gradient;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  padding-top: 0px;
  margin: 0;
}
