$colour1: #89678a;
$colour2: #6fc7b6;
$subtle1: #333d4d;
$subtle2: #407d81;
$text: #000;
$grey: #555;
$light-grey: #ddd;
$gradient: radial-gradient(to top right, $colour1, $colour2);
$gradient-subtle: radial-gradient(to top right, $subtle1, $subtle2);
$shadow-large: 0px 0px 50px rgba(0,0,0,0.3);
$shadow: 1px 1px 1px rgba(0,0,0,0.2);
$font-main: 'Assistant', sans-serif;
$font-header: 'Miriam Libre', sans-serif;
$break-small: 500px;
$break-large: 800px;
