$colour1: #e29041;
$colour2: #ace0d9;
$text: #000;
$gray: #555;
$gradient: radial-gradient(to top right, #e29041, #ace0d9);
$shadow-large: 0px 0px 50px rgba(0,0,0,0.3);
$shadow: 1px 1px 1px rgba(0,0,0,0.2);
$font-main: 'Assistant', sans-serif;
$font-header: 'Miriam Libre', sans-serif;
$break-small: 500px;
$break-large: 800px;
