@import url('https://fonts.googleapis.com/css?family=Assistant:200,400|Miriam+Libre|Scope+One');

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 320px;
}

#root, #root > div {
  height: 100%;
}

.background {
  background-image: radial-gradient(to top right, #e29041, #ace0d9);
  /*background-image: radial-gradient(to top right, #faa, #4bb);*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  padding-top: 0px;
  margin: 0;
}

.app {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  position: relative;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.app::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.panel {
  background-color: rgba(255, 255, 255, 1);
  padding: 17px;
  margin-top: 10px;
  min-height: 290px;
  margin-bottom: 20px
}

.container {
  clear: both;
  width: 100%;
  position: relative;
  margin-top: 17px;
}

.block {
  width: 33%;
  margin: auto;
  display: inline-block;
}

@media(max-width: 800px) {
  .block {
    display: block;
    padding: 10px 0px;
    width: 100%;
  }
}

.dark-panel {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: #4bb;
}

.centre-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.centre-button a, .centre-button a:link, .centre-button a:visited {
  padding: 17px 30px;
  background-color: white;
  color: #555;
  text-decoration: none;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 1.3em;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

.centre-button a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.playlist-list ul {
  padding: 0px;
}

.playlist-list li {
  list-style: none;
  display: inline-block;
}

.playlist-list-footer {
  clear: both;
  width: 100%;
}

.playlist-card {
  width: 130px;
  height: 160px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}

.playlist-card .playlist-image {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-left: 15px;
}

.playlist-card .playlist-image a {
  position: absolute;
  padding-top: 40px;
  width: 50px;
  height: 60px;
  left: 0px;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  font-weight: normal;
}

.playlist-card:hover .playlist-image img {
  filter: blur(4px);
  overflow: hidden;
}

.playlist-card:hover .playlist-image a {
  background-color: rgba(0,0,0,0.4);
  color: rgba(255,255,255,1);
}

.playlist-card .playlist-image a:hover {
  background-color: rgba(0,0,0,0.8);
  color: rgba(255,255,255,1);
  font-size: 1.2em;
  padding-top: 38px;
  height: 62px;
}

.playlist-card .playlist-image a.b {
  left: 50%;
  margin-left: 0px;
}

.playlist-card p {
  font-size: 0.8em;
}

.playlist-card img {
  width: 100px;
  height: 100px;
}

h1 {
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 300;
  margin: 5px;
  margin-left: 15px;
  padding-top: 13px;
  font-size: 3em;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

h2 {
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
}

p, body, input {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
}

.loading-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  color: white;
}

.mini-panel {
  color: white;
  padding: 17px;
  font-weight: 400;
  font-size: 0.9em;
  font-family: 'Miriam Libre';
}

.mini-panel.right {
  float: right;
}

.search-box {
  border: 1px solid #555;
  padding: 5px;
  float: right;
}

.search-box input, .search-box input:focus {
  border: none;
  outline: none;
  height: 100%;
  font-size: 0.9em;
  font-weight: 400;
  padding-left: 7px;
  color: #333;
}

.search-box::before {
  content: '\f002';
  font-size: 0.8em;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  color: #333;
  padding-left: 5px;
}

@media(max-width: 500px) {
  h1 {
    font-size: 2em;
  }
  .app {
    margin-top: 0px;
    width: 100%;
  }
}
